@charset "utf-8";
/* css for layout */
#wraper{ border:solid; margin-left:150px; margin-right:150px; margin-top:0px; padding-top:0px;}
#header{ border:solid #00759b; height:222px; width:auto; background-color:#00759b;}
#container::after{ content:" "; display:block; clear:both;}
#container{ height:600px; margin:0px; padding:0px;}
#left-nav{width:25%;height:600px; background-color:#0c6f8c; float:left;}
#right-sec{width:75%;height:600px; background:#75a4e8; float:right;}

#footer{height:100px; width:auto;background-color:#00759b;color:#FFF;}
#footer::after{ content:" "; display:block; clear:both;}
#foot1{height:100px; width:auto;background-color:#0c6f8c; float:left}
#foot2{height:100px; width:auto;background-color:#0c6f8c; float:right}

/*css for decoration */
#header{ background-image:url(images/banner_back.jpg); margin:0px;}
 *{ margin:0px; padding:0px;}
 
 #left-nav{ width:25%; height:600px; background:#0c6f8c; border-top:solid 1px #CCC; border-bottom:solid 1px #CCC; 
            }
 #left-nav a{color:#FFF; padding-left:10px; text-decoration:none;}
 #left-nav ul li{ 
              list-style-type:none; 
			    display:block;
              height:50px; line-height:50px;		   
			   border-bottom:1px solid #999;
			   }
	
#left-nav ul li:hover{ background:#119bc3; 
			   transition:linear all 0.40s;
			   margin-left:10px;
			   color:#F60;}
#left-nav ul li a{ display:block;}
#footer{ background:#0f6e8c; border-top:1px solid #999;}

body{ background:url(images/body.png);}

#news{ margin-top:100px; height:100px; padding-top:10px; 
      }
h3{ color:#FFF;background:#a3535a;}
h2{ color:#FFF;}
marquee{ height:200px; padding-left:10px; color:#FFF;}
table{ margin-left:20px; margin-top:20px; background:#e2a296;}

 table{
	width: auto;
	box-shadow: 0 35px 20px #777;
	font-size: 16px;
}
 p{ color:#FFF;}
 td{
	color: #C00;
}
 
 .submit{ padding:5px 20px; text-align:center;
		text-decoration:none; display:inline-block; 
		font-size:16px; margin:4px 2px; background:url(images/button.jpg);}
		
	#right-sec{ padding:0px; margin:0px;}
